.stage-container {
    max-width: 100%;
    position: relative;
    height: 650px;
    width: 950px;
    background-image: url(../images/window_03.png);
    background-size: cover;
}

.game-area {
    position: absolute;
    overflow: hidden;
    top: 96px;
    left: 100px;
    bottom: 110px;
    right: 100px;
    border: 2px solid #d5ad52;
    background-image: url(../images/sprites/sand.jpg);
    background-size: cover;
}

.custom-window {
    h2 {
        text-align: center;
        margin: 19px 0;
        font-size: 23px;
        color: #90a8a4;
        text-shadow: 0 0 8px #fff;
    }
    
    button, a, input {
        display: block;
        height: 96px;
        width: 191px;
        margin: 0 auto;
        text-align: center;
        border: 0;
        background-color: transparent;
        background-image: url(../images/btn-bg.png);
        background-position: -4px 0;
        line-height: 96px;
        font-size: 26px;
        color: #303c07;
        cursor: pointer;
        text-decoration: none;
        outline: none;

        &:hover {
            background-position: -197px 0;
        }
    }
    input {
        background-position: -581px 0;
        cursor: auto;
        padding: 0 25px;
        &:hover {
            background-position: -581px 0;
        }
    }

    label {
        text-align: center;
        display: block;
    }
}

.custom-window-pause {
    input, label {
        //display: none;
    }
}

.custom-window-gameOver {
    .resume {
        display: none;
    }

    .buttons {
        padding-top: 30px;
    }
}

.custom-window-content {
    background-image: url(../images/custom-window-bg.png);
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 370px;
    transform: translate(-185px, -250px);

    .buttons {
        padding-top: 45px;
    }
}

.custom-window-overlay {
    width: 1000%;
    height: 1000%;
    margin: -500% 0 0 -500%;
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 11;
}

.points-bar {
    position: absolute;
    top: -4px;
    left: 0;
    width: 185px;
    height: 67px;
    background-image: url(../images/points.png);
    span {
        color: #fff;
        font-size: 28px;
        line-height: 67px;
        text-align: right;
        display: block;
        padding-right: 23px;
    }
}

.health-bar, .mana-bar {
    position: relative;
    span {
        position: absolute;
        background-color: #53381d;
        //content: '';
        top: 18px;
        bottom: 19px;
        //left: 70px;
        right: 24px;
        //l 70 - 0
        //l 258 - 188
    }
}

.lifes-bar {
    position: absolute;
    top: -4px;
    right: 0;
    width: 184px;
    height: 67px;
    background-image: url(../images/lifes.png);

    span {
        color: #fff;
        font-size: 28px;
        line-height: 67px;
        text-align: right;
        display: block;
        padding-right: 90px;
    }
}

.mana-bar {
    position: absolute;
    bottom: -70px;
    left: 140px;
    width: 283px;
    height: 67px;
    background-image: url(../images/mana.png);
}

.health-bar {
    position: absolute;
    bottom: -70px;
    right: 140px;
    width: 282px;
    height: 67px;
    background-image: url(../images/health.png);
}


.crate {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 100px;
    -webkit-background-size: contain;
    background-size: contain;
    opacity: .9;
}

.crate-1 {
    background-image: url(../images/crate.png);
}

.crate-2 {
    background-image: url(../images/crate2.png);
}

.crate-3 {
    background-image: url(../images/crate3.png);
}

.stone {
    background-image: url(../images/stone.png);
}

.paddle {
    animation: paddle-glow .2s infinite ease;
    background: #ffffff;
    height: 73px;
    right: 0;
    border-radius: 10px;
    position: absolute;
    width: 4px;
    box-shadow: 0 0 7px 2px #00ccff;
}

@keyframes paddle-glow {

    33% {
        box-shadow: 0 0 15px 1px #00ccff;
    }

    66% {
        box-shadow: 0 0 12px 1px #00ccff;
    }
}

@keyframes spell-glow {

    33% {
        box-shadow: 0 0 15px 1px #0d6693;
    }

    66% {
        box-shadow: 0 0 12px 1px #0d6693;
    }
}